#drum-machine {
  max-width: 400px;
  height: 500px;
  margin: 10px;
  border: thin solid;
  padding: 5px;
  box-shadow: -10px 10px 3px 5px;
  border-radius: 4%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1.3fr 1.3fr;
}

#drum-machine:focus {
  outline: thin dashed;
}
#display {
  border: 1px solid;
  padding: 10px;
  margin: 20px;
  max-height: 50px;
  font-family: monospace;
  font-size: 20px;
  box-shadow: -1px 1px 12px -3px gray inset;
  grid-column: 1 / 3;
  grid-row: 1;
}

#drum-pad-area {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 200px;
  height: 200px;
  margin: 20px;
  grid-column: 1;
  grid-row: 2 / 4;
}

#control-area {
  grid-row: 2/4;
  grid-column: 2;
}

.drum-pad-active, .button-active {
  background: black;
  color: white;
}

.text-input {
  border: 1px solid;
  width: 40px;
  margin-top: 10px;
  font-family: monospace;
  box-shadow: -1px 1px 12px -3px gray inset;
}

.control-element {
}

.slider-label {
  position: relative;
  
}

.drum-pad {
  border: 1px solid;
  padding: 20px;
  margin: 1px;
  border-radius: 10%;
  box-shadow: -1px 1px 4px 1px gray;
}
.slider {
  transform: rotate(270deg);
  position: relative;
  
  -webkit-appearance: none;
  width: 50%;
  background: transparent;
}

#master-volume {
  top: 270px;
  right: 220px;
}
#master-volume-label {
  right: 285px;
  top: 320px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -14px;
  box-shadow: -1px 1px 4px 1px gray;
}

.slider::-moz-range-thumb {
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  box-shadow: -1px 1px 4px 1px gray;
}

.slider::-ms-thumb {
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  box-shadow: -1px 1px 4px 1px gray;
}

.slider:focus {
  outline: none;
}

.slider::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: white;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
  box-shadow: -1px -2px gray inset;
}

.slider::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: white;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

.slider::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
